div.storeselect {
	height: 28px;
	width: 175px;
	background: #108cfe;
	border: 0px;
	border-radius: 3px;
	cursor: pointer;
}

div.storeselect span {
	width: 150px;
	height: 28px;
	float: left;

	font-family: Arial;
	font-size: 14px;
	color: #ffffff;
	font-weight: bold;
	line-height: 28px;
	white-space: nowrap;
	overflow: hidden;
	margin-left: 8px;
}

div.storeselect img {
	float: right;
	margin-right: 8px;
}

/* BUTTONS */
ul.basicbuttons {
	margin: 0px;
	padding: 0px;
	height: 32px;
	list-style: none;
}

ul.basicbuttons li {
	float: left;
	background: url(img/button_l.png) top left no-repeat;
	height: 31px;
	margin-right: 10px;
}

ul.basicbuttons li span {
	background: url(img/button.png) top right no-repeat;
	margin-left: 10px;
	height: 31px;
	display: block;
	font-family: Arial;
	font-size: 12px;
	color: #585858;
	font-weight: bold;
	line-height: 30px;
	padding-right: 10px;
	cursor: pointer;
}

ul.basicbuttons li span img {
	float: left;
	vertical-align: top;
	
}

input.searchinput {
	background: #ffffff;
	border: 1px solid #6699cc;
	height: 25px;
	font-family: Arial, serif;
	font-size: 12px;
	color: #aaaaaa;
	border-radius: 2px;
}


/* ITEM LIST */
div.itemlist-container {
	overflow-y: scroll;
}

table.itemlist th {
	height: 22px;
	background: url(img/tb-th.png) top left repeat-x;
	font-family: Arial, serif;
	font-size: 10px;
	color: #333333;
	vertical-align: middle;
	padding-left: 4px;
	padding-right: 4px;
}

table.itemlist th small {font-size: 8px;}

table.itemlist td {
	font-family: Arial, serif;
	font-size: 11px;
	color: #000000;
	vertical-align: middle;
	padding-left: 4px;
	padding-right: 4px;
	border-bottom: 1px solid #cccccf;
	height: 32px;
}

table.itemlist tr.label td {
	font-family: Arial, serif;
	font-size: 14px;
	color: #666666;
	vertical-align: middle;
	padding-left: 4px;
	padding-right: 4px;
	border-bottom: 1px solid #cccccf;
	height: 32px;
	background: #f7f7f7;
}

table.itemlist tr.selected td {background:#ffffbc;}

table.itemlist td em {
	float: left;
	color: #333333;
}

table.itemlist td a {
	font-family: Arial, serif;
	font-size: 11px;
	color: #013397;
	font-weight: bold;
	text-decoration: none;
}

table.itemlist td span.gray {color: #333333;}
table.itemlist td span.blue {color: #0169c9;}
table.itemlist td span.green {color: #339900;}
table.itemlist td span.darkblue {color: #003366;}


table.itemlist td a.code {font-size:11px; font-weight: bold; color:#013397; text-decoration:none;}
table.itemlist td a.linkname {font-size:11px; color:#333333; text-decoration:none;}

/* DOC FOOTER RESULTS */
table.docfooter-results th {
	height: 14px;
	line-height: 14px;
	font-family: Arial;
	font-size: 10px;
	text-align: center;
	border-left: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
}

table.docfooter-results td {
	background: #0169c9;
	height: 18px;
	line-height: 18px;
	font-family: Arial;
	font-size: 13px;
	font-weight: bold;
	color: #eeeeee;
	text-align: right;
	border-left: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
	padding-left: 7px;
	padding-right: 7px;
	white-space: nowrap;
}

table.docfooter-results td em {
	float: left;
	line-height: 18px;
	font-family: Arial;
	font-size: 13px;
	font-weight: bold;
	color: #eeeeee;
	margin-right: 10px;
}

table.docfooter-results th.blue {background: #0169c9; color: #b3defd;}
table.docfooter-results td.blue {background: #0169c9;}

table.docfooter-results th.green {background: #339900; color: #ccff99;}
table.docfooter-results td.green {background: #339900;}

div.loading {
	margin-top: 10px;
	margin-bottom: 10px;
	height: 235px;
	background: url(img/loading.gif) center center no-repeat;
}

div.otherresultsbtn-div {
	margin-bottom: 30px;
	margin-top: 30px;
}

span.otherresultsbtn {
	width: 320px;
	height: 32px;
	font-family: Arial;
	font-size: 18px;
	font-weight: bold;
	color: #666666;
	text-align: center;
	line-height: 32px;
	border: 1px solid #dadada;
	background: #fafafa;
	display: block;
	cursor: pointer;
}

div.footerresults {
	border-top: 1px solid #0169c9;
	border-bottom: 1px solid #0169c9;
	height: 40px;
	line-height: 40px;
	font-family: Arial;
	font-size: 14px;
	color: #333333;
}

div.footerresults span.green {
	font-family: Arial;
	font-size: 14px;
	color: #015a01;
}

