div.attachments-outer {
	height: 370px;
	padding-left: 10px;
	overflow: auto;
}

div.attachment {
	font-family: Trebuchet, Arial;
	font-size: 10px;
	color: #013397;
	height: 22px;
	line-height: 11px;
	margin-top: 5px;
}

div.attachment img {
	float: left;
	vertical-align: top;
	margin-right: 5px;
}

div.attachment img.removebtn {
	float: right;
	cursor: pointer;
	visibility: hidden;
}

div.attachment:hover img.removebtn {visibility: visible;}

div.emailbg {
	background: url(img/email.png) top left no-repeat;
	height: 60px;
	padding-left: 100px;
}

div.emailbg p {
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #dadada;
}

span.title {
	font-family: arial,sans-serif;
	font-size: 12px;
	color: #0197fd;
	margin-right: 10px;
}

input.text {
	border: 1px solid #0197fd;
	border-radius: 2px;
	height: 21px;
	background: #ffffff;
	font-family: arial,sans-serif;
	font-size: 12px;
	color: #333333;
}

textarea.textarea {
	border: 1px solid #6699cc;
	border-radius: 3px;
	resize: none;
}

div#contactfinder {
	width: 502px;
	height: 322px;
	position: absolute;
	left: 20px;
	top: 110px;
	background: url(img/contact-finder-bg.png) top left no-repeat;
}

div#contactfinder td {
	background: transparent;
}

img.contactaddbtn {
	float: right;
	cursor: pointer;
	vertical-align: top;
	margin-right: 16px;
}

span.searchspan {
	font-family: arial, sans-serif;
	font-size: 13px;
	color: #000000;
	font-weight: bold;
}

div#contact-finder-catlist {
	margin-top: 10px;
	font-family: arial, sans-serif;
	font-size: 10px;
	height: 22px;
	overflow: auto;
}

span.bigblue {
	font-family: arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #013397;
}

span#rubcat-title {
	font-family: arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
}

span.smallblue {
	font-family: arial, sans-serif;
	font-size: 10px;
	color: #013397;
}


table#contact-list th {
	text-align: left;
	background: #0197fd;
	height: 16px;
	font-family: arial, sans-serif;
	font-size: 10px;
	vertical-align: middle;
	color: #ffffff;
}

table#contact-list td {
	height: 16px;
	font-family: arial, sans-serif;
	font-size: 10px;
	color: #000000;
	vertical-align: middle;
	background: #fafafa;
	border-bottom: 1px solid #cccccf;
}


table#contact-list td.selected {
	background: #b3defd;
	border-bottom: 1px solid #ffffff;
}

table.contact-list-footer {
	width: 490px;
	margin-left: 5px;
}

table.contact-list-footer th {
	text-align: left;
	background: #0197fd;
	height: 16px;
	font-family: arial, sans-serif;
	font-size: 10px;
	vertical-align: middle;
	color: #ffffff;
	padding-left: 10px;
}

span.buttongray {
	height: 21px;
	cursor: pointer;
	border: 1px solid #aaaaaa;
	border-radius: 3px;
	padding-left: 5px;
	padding-right: 5px;
	line-height: 21px;
	font-family: arial, sans-serif;
	font-size: 12px;
	color: #777777;
	background: #eeeeee;
	display: block;
	float: left;
	margin-left: 10px;
}

span.buttonblue {
	height: 21px;
	cursor: pointer;
	border: 1px solid #013397;
	border-radius: 3px;
	padding-left: 5px;
	padding-right: 5px;
	line-height: 21px;
	font-family: arial, sans-serif;
	font-size: 12px;
	color: #eeeeee;
	background: #0169c9;
	display: block;
	float: right;
	margin-right: 10px;
}

div.firm {
	height: 100px;
	overflow: auto;
	border: 1px solid #d8d8d8;
	margin-top: 5px;
	font-size: 12px;
}

span.smalltext {
	font-family: arial, sans-serif;
	font-size: 10px;
}

/* POPUP MENU */
ul.popupmenu {
 list-style: none;
 border: 1px solid #cccccc;
 margin: 0px;
 padding: 0px;
 position: absolute;
 background: #fff;
 visibility: hidden;
 -moz-box-shadow: 0px 2px 5px #cccccc;
 -webkit-box-shadow: 0px 2px 5px #cccccc;
 box-shadow: 0px 2px 5px #cccccc;
 top: 0px;
 left: 0px;
 z-index: 10000;
 padding-top: 6px;
 padding-bottom: 6px;
}

ul.popupmenu a {
 text-decoration: none;
 font-family: "Helvetica Neue","HelveticaNeue",Helvetica,sans-serif;
 font-size: 10px;
 color: #000000;
}

ul.popupmenu li {
 height: 19px;
 font-family: "Helvetica Neue","HelveticaNeue",Helvetica,sans-serif;
 font-size: 10px;
 text-align: left;
 background-color: #fff;
 line-height: 19px;
 padding-right: 5px;
 padding-left: 10px;
 cursor: pointer;
 white-space: nowrap;
 -moz-user-select:none;
 -webkit-user-select: none;
}

ul.popupmenu li.separator {
 height: 6px;
 border-bottom: 1px solid #ebebeb;
 margin-bottom: 6px;
 cursor: default;
}

ul.popupmenu li.subitem {
 background: url(icons/dropright-gray.png) 96% center no-repeat;
}

ul.popupmenu li.checklist {
 height: auto;
 cursor: default;
}

ul.popupmenu li.label {
 padding-left: 9px; 
 cursor: default;
}

ul.popupmenu li.edit { 
 height: 30px;
 padding-left: 9px; 
 padding-right: 9px;
 cursor: default;
}
ul.popupmenu li.edit input.edit {
 height:21px;
 padding-left: 3px;
 padding-right: 3px;
 font-size: 12px;
}

ul.popupmenu li:hover {background:#eeeeee;}
ul.popupmenu li.selected {background:#eeeeee;}
ul.popupmenu li.label:hover {background:transparent;}
ul.popupmenu li.edit:hover {background:transparent;}
ul.popupmenu li.checklist:hover {background:transparent;}
ul.popupmenu li.separator:hover {background:transparent;}
ul.popupmenu li.subitem:hover { background: #eeeeee url(icons/dropright-black.png) 96% center no-repeat;}

ul.popupmenu img.icon {
 float: left;
 vertical-align: top;
 margin-left: 6px;
 margin-right: 8px;
 width: 16px;
 height: 16px;
}

div.popupmenu-checklist {
 overflow: auto;
}

ul.popupmenu-checklist {
 list-style-type: none;
 margin: 0px;
 padding: 0px;
}

ul.popupmenu-checklist li {
 height: 19px;
 font-family: sans-serif;
 font-size: 12px;
 color: #000000;
 line-height: 13px;
 overflow: hidden;
 white-space: nowrap;
 cursor: default;
}

ul.popupmenu-checklist li:hover {background: transparent;}

ul.popupmenu-checklist input {
 margin-left: 4px;
 margin-right: 13px;
}

/* EDIT */
input.dropdown {
 background: url(img/dropdown-gray.png) right center no-repeat;
}

input.dropdown:focus {outline: none;}
input.dropdown:hover {background: url(img/dropdown-black.png) right center no-repeat;}

