div.glcontactsearch-container {
	position: absolute;
	top: 0px;
	left: 0px;
	visibility: hidden;
}

div.glcontactsearch-menu-div {
	border: 1px solid #e6e6e6;
	border-radius: 2px;
	background: #ffffff;
}

ul.glcontactsearch-menu {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

ul.glcontactsearch-menu li {
	background-color: #ffffff;
	height: 34px;
	border-bottom: 1px solid #e6e6e6;
	cursor: pointer;
}

ul.glcontactsearch-menu li.selected {background-color: #ffff99;}

ul.glcontactsearch-menu li.extended {
	background-image: url(img/user-details.png);
	background-position: 10px center;
	background-repeat: no-repeat;
}

ul.glcontactsearch-menu li.emptymessage {
	font-family: Arial, sans-serif;
	font-size: 10px;
	text-align: center;
	line-height: 34px;
	color: #777;
}

ul.glcontactsearch-menu li.extended:hover {background-color: #fafafa;}

div.glcontextinfo-left {
	float: left;
	margin-left: 40px;
	overflow: hidden;
}

div.glcontact-name {
	font-family: Arial,sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #333;
	white-space: nowrap;
	height: 20px;
	line-height: 20px;
}

span.glcontact-code {
	font-size: 10px;
}

div.glcontact-address {
	font-family: Arial,sans-serif;
	font-size: 10px;
	color: #999;
	white-space: nowrap;
	height: 12px;
	line-height: 12px;
}


div.glcontextinfo-right {
	float: right;
	width: 100px;
	overflow: hidden;
}

div.glcontact-phone, div.glcontact-email {
	font-family: Arial,sans-serif;
	font-size: 10px;
	color: #777;
	white-space: nowrap;
	height: 16px;
	line-height: 16px;
	width: 90px;
	margin-right: 10px;
	text-align: right;
}

/* OPTBOX */
div.glcontactsearch-optbox {
	margin-top: 0px;
	border: 1px solid #e6e6e6;
	border-radius: 2px;
	background: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
}

div.glcontactsearch-optbox-header {
	height: 16px;
	line-height: 16px;
}

span.optbox-link {
	font-family: Arial, sans-serif;
	font-size: 10px;
	color: #013397;
	cursor: pointer;
}

span.optbox-caption {
	font-family: Arial, sans-serif;
	font-size: 10px;
	color: #666666;
	visibility: hidden;
	margin-left: 10px;
}

div.glcontactsearch-optbox-body {
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: Arial, sans-serif;
	font-size: 10px;
	color: #333;
}

div.glcontactsearch-optbox-body td {
	font-family: Arial, sans-serif;
	font-size: 10px;
}

div.optbox-cbcontainer {
	height: 70px;
	overflow: auto;
}

span.checkbox {
	font-family: Arial, sans-serif;
	font-size: 10px;
	color: #333;
	vertical-align: middle;
	margin-right: 10px;
	white-space: nowrap;
	float: left;
}

input.checkbox {
	font-family: Arial, sans-serif;
	font-size: 10px;
	color: #333;
	vertical-align: middle;
}

span.optbox-repeatqry-link {
	font-family: Arial, sans-serif;
	font-size: 13px;
	color: #013397;
	cursor: pointer;
}

